@import '#template/scss/variables';

.elementor-kit-19 {
    --e-global-color-primary:#6EC1E4;
    --e-global-color-secondary:#54595F;
    --e-global-color-text:#7A7A7A;
    --e-global-color-accent:#61CE70;
    --e-global-color-17d06b5:#F34A80;
    --e-global-color-8945a1e:#A4899D;
    --e-global-color-7ff517c:#FF3C8C;
    --e-global-color-70bd810:#AAFF00;
    --e-global-typography-primary-font-family:"Roboto";
    --e-global-typography-primary-font-weight:600;
    --e-global-typography-secondary-font-family:"Roboto Slab";
    --e-global-typography-secondary-font-weight:400;
    --e-global-typography-text-font-family:"Roboto";
    --e-global-typography-text-font-weight:400;
    --e-global-typography-accent-font-family:"Roboto";
    --e-global-typography-accent-font-weight:500
  }