body {}
.container {max-width: 1280px;}
.box-bg-gummie {}
.text-gummie {display: flex;}
.oque-sao {}
.text-gummie {}
.box-bg-porque {}
.text-porque {}
.box-gummie {}
.item1 {}
.item2 {}
.item3 {}
.item4 {}
.item5 {}

.page--home .custom-html:nth-child(1) {
	background: url(/img/uploads/porque.png) no-repeat center top;
    min-height: 598px;
}

.page--home .custom-html:nth-child(2) {}