@font-face {
  font-family: 'GoldplayRegular';
  src: url(/img/uploads/GoldplayRegular.eot);
  src: url(/img/uploads/GoldplayRegular.eot?#iefix) format('embedded-opentype'),
       url(/img/uploads/GoldplayRegular.woff2) format('woff2'),
       url(/img/uploads/GoldplayRegular.woff) format('woff'),
       url(/img/uploads/GoldplayRegular.ttf) format('truetype'),
       url(/img/uploads/GoldplayRegular.svg#GoldplayRegular) format('svg'),
       url(/img/uploads/GoldplayRegular.otf) format('otf');
}

@font-face {
  font-family: 'GoldplayAltBlack';
  src: url(/img/uploads/GoldplayAltBlack.eot);
  src: url(/img/uploads/GoldplayAltBlack.eot?#iefix) format('embedded-opentype'),
       url(/img/uploads/GoldplayAltBlack.woff2) format('woff2'),
       url(/img/uploads/GoldplayAltBlack.woff) format('woff'),
       url(/img/uploads/GoldplayAltBlack.ttf) format('truetype'),
       url(/img/uploads/GoldplayAltBlack.svg#GoldplayRegular) format('svg'),
       url(/img/uploads/GoldplayAltBlack.otf) format('otf');
}

@font-face {
  font-family: 'GoldplayAltBold';
  src: url(/img/uploads/GoldplayAltBold.eot);
  src: url(/img/uploads/GoldplayAltBold.eot?#iefix) format('embedded-opentype'),
       url(/img/uploads/GoldplayAltBold.woff2) format('woff2'),
       url(/img/uploads/GoldplayAltBold.woff) format('woff'),
       url(/img/uploads/GoldplayAltBold.ttf) format('truetype'),
       url(/img/uploads/GoldplayAltBold.svg#GoldplayRegular) format('svg'),
       url(/img/uploads/GoldplayAltBold.otf) format('otf');
}

@font-face {
  font-family: 'GoldplayMedium';
  src: url(/img/uploads/GoldplayMedium.eot);
  src: url(/img/uploads/GoldplayMedium.eot?#iefix) format('embedded-opentype'),
       url(/img/uploads/GoldplayMedium.woff2) format('woff2'),
       url(/img/uploads/GoldplayMedium.woff) format('woff'),
       url(/img/uploads/GoldplayMedium.ttf) format('truetype'),
       url(/img/uploads/GoldplayMedium.svg#GoldplayRegular) format('svg'),
       url(/img/uploads/GoldplayMedium.otf) format('otf');
}


body {}

.container {max-width: 1280px;}

.box-bg-gummie {
    padding-left: 28%;
    padding-top: 270px;
}

#user-button {
    line-height: 0;
}

#cart-count {
    background: #f21b7a;
}

#cart-button {
    line-height: 0;
}

.top-bar {
    background: #c2eaf3;
}

.text-gummie {}
.oque-sao {color: #f3237f;font-weight: bold;float: left;margin-right: 3%;}

.oque-sao h2 {font-size: 46px;margin-left: -30px;    font-family: GoldplayAltBold;}

.text-gummie {}
.box-bg-porque {}
.text-porque {}
.box-gummie {}


.page--home .custom-html:nth-child(3) {
	z-index: -1;
	background: #d2c1de;
	width: 100%;
	position: absolute;
	height: 10px;
	margin-top: -412px;
	height: 830px;
}

.page--home .custom-html:nth-child(4) {
	background: url(/img/uploads/porque.png) no-repeat center top;
	min-height: 598px;
}

.page--home .custom-html:nth-child(5) {
    background: url(/img/uploads/bg-beneficios.jpg) no-repeat top;
    min-height: 930px;
    display: flex;
    padding-top: 70px;
}

.product-card {
    padding:0px;
}

.text-porque {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 13%;
}

.item1 {
    background: url(/img/uploads/bloco1.png) no-repeat top;
}

.item2 {
    background: url(/img/uploads/bloco2.png) no-repeat top;
}

.text-sobre {
    display: flex;
    text-align: justify;
    padding-top: 15px;
    font-family: 'GoldplayRegular';
}

.item3 {
    background: url(/img/uploads/bloco3.png) no-repeat top;
}

.item4 {
    background: url(/img/uploads/bloco4.png) no-repeat top;
    margin-left: 16%;
}

.item5 {
    background: url(/img/uploads/bloco5.png) no-repeat top;
}

.box-gummie {
    color: #f11879;
    font-weight: bold;
    padding: 122px 0px 20px;
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
    font-family: 'GoldplayAltBold';
}

.title-box {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 70px;
    background: url(/img/uploads/wave.png) no-repeat center bottom;
}

.title-blow {
    background: url(/img/uploads/blow-gummies.png) no-repeat left center;
    width: 240px;
    height: 108px;
}

.title span {
    display: block;
}

.title-blow-comprar {
    background: url(/img/uploads/comprar-agora.png) no-repeat 0;
    width: 253px;
    height: 226px;
}

.title-box a {
    display:flex;
}

.title {
    text-align: right;
    margin-right: 14px;
    color: #f3237f;
        font-family: 'GoldplayAltBold';
    font-size:32px;
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oque-sao h2 {
            font-family: 'GoldplayAltBold';
    font-size:32px;
}

.page--home .collection-shelf {
    background: url(/img/uploads/onda.png) no-repeat center top;
    padding-top: 40px;
    margin-top: -20px;
    z-index: 1;
    position: relative;
}

.page--home .collection-shelf .products-carousel__title {
    display:none;
}

.page--home .collection-shelf .products-carousel {
    background: transparent;
}


.page--home .collection-shelf .product-item {
    background: #fff;
    border-radius: 20px;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 8px 0px #f3237f;
}

.banner-slider {
    max-width: 100%;
    max-height: calc(100rem*var(--banner-aspect-ratio));
}

.page--home .collection-shelf .box-bg-porque {}

.products-carousel .products-carousel__item {
    padding: 10px 5px;
}

.product-card__name {
    font-size: 16px;
    --max-lines: 3;
    border-top: solid 2px #f3237f;
    margin: 0px 5px;
    color: #565656;
    padding: 10px 0px;
    font-family: 'GoldplayAltBold';
}

.product-card__prices {
    border-bottom: solid 2px #f3237f;
    padding: 7px;
    margin: 0px 5px;
}

.prices__value {
    color: #f3237f;
    font-weight: 700;
    font-size: 31px;
    font-family: 'GoldplayAltBold';
}

.header {
    background: #c2eaf3;
    border: none;
}

#influencers {
    background: url(/img/uploads/famosos.jpg) no-repeat 0 #c1eaf2;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 403px;
}

#influencers .glide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: 4%;
}


.resultados #instafeed img {
    width:23%;
    margin:1%
}

.header__logo {
    max-height: 84px;
}

.header__toggler, .top-bar {
    display:none;
}

#user-button:after {
    content: "Seja bem vindo(a)!";
    font-family: GoldplayAltBold;
    color: #f21b7a;
    font-size: 14px;
}

.header__nav a:hover {
    background: #ffffff;
}


.page--home .custom-html:nth-child(7) {
    background: url(/img/uploads/bg-rosa.jpg) no-repeat top;
    min-height: 930px;
    display: flex;
    padding-top: 70px;
}

.title h2 {
    font-size: 32px;
}

.header__nav a {
    font-family: 'GoldplayAltBold';
    color: #f21b7a;
    text-transform: none !important;
    font-size: 16px;
    margin: 0px 5px;
    }