body {}
.container {max-width: 1280px;}

.box-bg-gummie {
    padding-left: 28%;
    padding-top: 270px;
}

.text-gummie {}
.oque-sao {color: #f3237f;font-weight: bold;float: left;margin-right: 3%;}

.oque-sao h2 {font-size: 46px;margin-left: -30px;}

.text-gummie {}
.box-bg-porque {}
.text-porque {}
.box-gummie {}


.page--home .custom-html:nth-child(3) {
	background: url(/img/uploads/porque.png) no-repeat center top;
	min-height: 598px;
}

.page--home .custom-html:nth-child(4) {
    background: url(/img/uploads/bg-beneficios.jpg) no-repeat top;
    min-height: 930px;
    display: flex;
    padding-top: 70px;
}

.product-card {
    padding:0px;
}

.text-porque {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 19%;
}

.item1 {
    background: url(/img/uploads/bloco1.png) no-repeat top;
}

.item2 {
    background: url(/img/uploads/bloco2.png) no-repeat top;
}

.text-sobre {
    display: flex;
    text-align: justify;
    padding-top: 15px;
}

.item3 {
    background: url(/img/uploads/bloco3.png) no-repeat top;
}

.item4 {
    background: url(/img/uploads/bloco4.png) no-repeat top;
}

.item5 {
    background: url(/img/uploads/bloco5.png) no-repeat top;
}

.box-gummie {
    color: #f11879;
    font-weight: bold;
    padding: 122px 0px 20px;
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 40px;
}

.title-box {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 70px;
    background: url(/img/uploads/wave.png) no-repeat center bottom;
}

.title-blow {
    background: url(/img/uploads/blow-gummies.png) no-repeat left center;
    width: 240px;
    height: 108px;
}

.title span {
    display: block;
}

.title {
    text-align: right;
    margin-right: 14px;
    color: #f3237f;
}

.page--home .collection-shelf {
    background: url(/img/uploads/onda.png) no-repeat center top;
    padding-top: 40px;
}

.page--home .collection-shelf .products-carousel__title {
    display:none;
}

.page--home .collection-shelf .products-carousel {
    background: transparent;
}


.page--home .collection-shelf .product-item {
    background: #fff;
    border-radius: 20px;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 8px 0px #f3237f;
}

.page--home .collection-shelf .box-bg-porque {}

.products-carousel .products-carousel__item {
    padding: 10px 5px;
}

.product-card__name {
    font-size: 16px;
    --max-lines: 3;
    border-top: solid 2px #f3237f;
    margin: 0px 5px;
    color: #000;
    padding: 10px 0px;
}

.product-card__prices {
    border-bottom: solid 2px #f3237f;
    padding: 7px;
}

.prices__value {
    color: #f3237f;
    font-weight: bold;
    font-size: 26px;
}
