// Add your custom CSS here.
.menu-desk {
  display: flex;
  a {
    color: #F51879;
  }
}
.header__toggler i  {
  color: #F51879;
}
#mobile-search-btn {
  display: none;
}
@media(min-width: 767px) {
  #selos {
    #go-to-top {
      float: right;
    }
  }
  #pagamentos {
    float: left;
  }
}
.__pages_frete-gratis {
  @media (min-width:1200px){.bg-igre { background: url(//cdn.ecvol.com/s/www.blowhair.com.br/uploads/desc-bg-bloww-Otimizada.jpg); position: relative; float: left; width: 100%; padding: 70px 610px 0px 70px; color: #000; line-height: 27px; font-weight: 400; text-align: justify; font-size: 14px; padding-bottom: 25px;}.descri-compl {position: relative;}.bg-descri { background: url(//cdn.ecvol.com/s/www.blowhair.com.br/uploads/desc-bg-desc-Otimizada.jpg) no-repeat left top; padding-left: 430px; padding-bottom: 30px; padding-top: 30px;}.bg-porq { position: relative; float: left; width: 100%;}.bg-result { position: relative; float: left; width: 100%;}}.title-result { text-align: center; color: #ed2a56; padding: 27px; font-weight: 600; margin: 0px; font-size: 26px;}.title-igre { color: #ed2a56; font-weight: 600; margin: 0px; font-size: 26px; text-align: left; margin-bottom: 30px; margin-top: 30px;}.box-tratamento { float: left; width: 33%; text-align: center;}.box-gummies { float: left; margin-bottom: 90px; width:50%;}.tempo { background: #ed2a56; margin: 0px 22px 30px 22px; color: #fff; padding: 17px; font-size: 18px; font-weight: 700;}.only-text h3 { font-weight: 400; text-align: justify; font-size: 14px; line-height: 29px;}.only-text { width: 100%; float: left; position: relative; padding: 32px; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}.title-descricao{ text-align: center; background: #ed2a56; color: #fff; padding: 27px !important; font-weight: 600; margin: 0px; font-size: 26px;}.bg-descri p { color: #000; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}.bg-title { color: #ed2a56; font-weight: 700; font-size: 26px; text-align: left; padding-bottom: 20px;}.text-compl { position: relative; background: #b3ffff; padding: 32px; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}@media only screen and (max-width:767px){ .text-compl { padding:0px !important; } .text-compl ul { padding:15px } ul {list-style-type: none; padding:0px}.bg-title { font-size: 20px !important; text-align: center !important; } .title-descricao { padding:27px !important; } .title-result { padding:0px !important; margin-bottom:30px !important; }.bg-igre { line-height:29px;}.tempo { margin: 0px 0px 30px 0px !important;}.title-igre { text-align:center !important;}.only-text, .only-text h3 { font-size:13px !important;} .box-tratamento { width: 100% !important; } .box-gummies { float: left; width: 100% !important; } .only-text { padding: 0px !important; }}
}
